/* Custom css */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  font-family: "Roboto Slab", serif;
}

.icons-nav {
  color: white;
  margin-right: 10px;
}

.nav-link.active {
  color: white !important;
  background-color: #198754 !important;
}

.fixed-height {
  height: 250px;
  cursor: pointer;
}

.shadow {
  transition: transform 0.3s;
}

.shadow:hover {
  transform: scale(1.03);
}

.cart-icon {
  margin-right: 20px;
}

.image-modal {
  max-width: 40%;
}
